###############################################
# Business Management System - API (backend)
###############################################

### Jetbrain Software
# IntelliJ IDEA
.idea/
dist

### Package Dependency Manager
# NodeJS
node_modules/
package-lock.json

# Yarn
yarn.lock
yarn-error.log

#### Mac OSX project files
.DS_Store
